@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

.wrap{
    display: grid;

    height: 200vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px 80px auto 200px;
    grid-template-areas: 
    "header header header header header header"
    "nav nav nav nav nav nav"
    "main main main main main aside"
    "footer footer footer footer footer footer"
    ;
}


header{
    grid-area: header;
    /* background-color: cornflowerblue; */
}

nav{
    grid-area: nav;
    background-color: white;

    
}

main{
    grid-area: main;
    /* background-color: darkgreen; */

    display: grid;

    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 250px;
    grid-template-areas: 
    "sec1 sec1 sec1 sec4" 
    "sec2 sec2 sec2 sec4" 
    "sec3 sec3 sec3 sec4"
    
    ;

    /* grid-template: 
    "sec1 sec1 sec1 sec4" 1fr
    "sec2 sec2 sec2 sec4" 1fr
    "sec3 sec3 sec3 sec4" 1fr
    / repeat(4, 1fr) 250px 
    ; */
}

aside{
    grid-area: aside;
    /* background-color: yellow; */
}

footer{
    grid-area: footer;
    /* background-color: violet; */
    font-size: 18px;
}

.sec1{
    grid-area: sec1;
    display: grid;

    grid-template: 
    "arti1" 1fr 
    "arti2" 1fr / auto;
}

#arti1{
    grid-area: arti1;
    background-color: rgba(255, 255, 255, 0.89);
    font-size: 2em;
}

#arti2{
    grid-area: arti2;
    background-color: rgba(255, 255, 255, 0.89);
    font-size: 2em;
}

.sec2{
    grid-area: sec2;
    background-color:white
}

.sec3{
    grid-area: sec3;
    /* background-color: coral; */
}

.sec4{
    grid-area: sec4;
    /* background-color: cadetblue; */
}

#btnShort1{
    font-size: 2em;
    margin-right:50px;
    /* margin-left: 150px; */
    width: 20%;
    border-radius: 40%;
    /* border-color: khaki; */
}

#btnShort2{
    font-size: 2em;
    margin-right:50px;
    /* margin-left: 150px; */
    width: 20%;
    border-radius: 40%;
}

#btnShort3{
    font-size: 2em;
    margin-right:50px;
    /* margin-left: 150px; */
    width: 20%;
    border-radius: 40%;
}

#btnShort4{
    font-size: 2em;
    margin-right:50px;
    /* margin-left: 150px; */
    width: 20%;
    border-radius: 40%;
}

#title1{
    font-style: italic;
    font-size: 5em;
    color: black;
}

#sec3text{
    font-size: 3em;
    text-align: center;
}

#sec3textwrap{
    font-size: 2em;
    text-align: center;
}
#sec2-1text{
    font-size: 3em;
}

#sec2-2text{
    font-size: 2em;
    text-align: center;
}

#sec2-3text{ 
  /* flex-direction: column; */
      /* align-items: center; */
    float: left;
    margin-right: 70px;
    width:  200px;
    height: 200px;
    border: solid 2px;
    font-size: 2em;
    
}

#sec2-4text{    
    /* flex-direction: column; */
    /* align-items: center; */
    
    float: left;
    margin-right: 70px;
    width:  200px;
    height: 200px;
    border: solid 2px;
    font-size: 2em;
}

#sec2-5text{    
    /* flex-direction: column; */
    /* align-items: center; */
    float: left;
    margin-right: 70px;
    width:  200px;
    height: 200px;
    border: solid 2px;
    font-size: 2em;
}

#sec2-6text{
    float: left;
    margin-right: 70px;
    width:  200px;
    height: 200px;
    border: solid 2px;
    font-size: 2em;
}



